body {
  width: 360px;
  margin: 0 auto; }

.rl {
  width: 360px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .rl .control {
    line-height: 50px;
    color: #FCFCFC;
    background: #333333;
    flex-basis: 100%;
    text-align: center; }
    .rl .control .today {
      float: right;
      padding-right: 15px; }

.calendarBody {
  width: 360px; }
  .calendarBody table {
    width: 360px; }
    .calendarBody table th {
      color: #C6C6C6; }
    .calendarBody table td {
      text-align: center;
      padding-top: 12px;
      color: #373737; }

.current {
  color: red; }
